<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830023490975-d0r79bbnum3e4tir6j12otat4b1h4lns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830023490975-d0r79bbnum3e4tir6j12otat4b1h4lns</string>
	<key>API_KEY</key>
	<string>AIzaSyB353Z8EA0h2KY-XiAkAfVy2QlhwNPgfvc</string>
	<key>GCM_SENDER_ID</key>
	<string>830023490975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.fluttech</string>
	<key>PROJECT_ID</key>
	<string>flutter2-f9a8c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter2-f9a8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830023490975:ios:b5da66cccfe963c1bef1aa</string>
</dict>
</plist>